

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: flex;
    padding: 8px;
  }
  photographer{align-content:center;
}
div.images {
  
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 535px;
}

div.images:hover {
  border: 1px solid #777;
}

div.images img {
  width: 100%;
  height: auto;
}
