

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: flex;
    padding: 8px;
  }
  photographer{align-content:center;
}